.heart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heart > input{
    text-align:center;
    padding-bottom: 6px;
    margin: 44px;
    border: none;
    background: rgba( 0,0,0,.0);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid  rgba(255, 255, 255, 0.75);
    outline: none;
}
.heart > input::placeholder{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
}


.heart__degreeCelsius{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #FFFFFF;
}

.heart__degreeCelsius-error{
    font-size: 20px;
    line-height: 36px;
}

.heart__locations{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
}


.heart__locations-err  {
    opacity: 0.75;
    font-size: 12px;
    line-height: 15px;
}
.heart__btn{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    background: none;
}
.btn__heart-err{
    border:none;
    background-color: white;
    width: 140px;
    height: 48px;
    border-radius: 8px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: rgb(76, 1, 224);
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

btn__tryAgain{

    background: #FFFFFF;
    border-radius: 8px;
}


