.heart{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heart> input{
    text-align:center;
    margin: 0 auto;
    border: none;
    background: rgba( 0,0,0,.0);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid  rgba(255, 255, 255, 0.75);
    outline: none;
}
.heart> input::placeholder{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
}


.heart__degreeCelsius{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #FFFFFF;
}
.heart__locations{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
}
.heart__btn{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    line-height: 28px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    background: none;
}


